# Used as inspiration: https://github.com/mvdan/github-actions-golang

name: Cross-Platform Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    strategy:
      # Default is true, cancels jobs for other platforms in the matrix if one fails
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        go: [ '1.14', '1.15' ]

        # Set some variables per OS, usable via ${{ matrix.VAR }}
        # XCADDY_BIN_PATH: the path to the compiled xcaddy binary, for artifact publishing
        # SUCCESS: the typical value for $? per OS (Windows/pwsh returns 'True')
        include:
        - os: ubuntu-latest
          XCADDY_BIN_PATH: ./cmd/xcaddy/xcaddy
          SUCCESS: 0

        - os: macos-latest
          XCADDY_BIN_PATH: ./cmd/xcaddy/xcaddy
          SUCCESS: 0

        - os: windows-latest
          XCADDY_BIN_PATH: ./cmd/xcaddy/xcaddy.exe
          SUCCESS: 'True'

    runs-on: ${{ matrix.os }}

    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Print Go version and environment
      id: vars
      run: |
        printf "Using go at: $(which go)\n"
        printf "Go version: $(go version)\n"
        printf "\n\nGo environment:\n\n"
        go env
        printf "\n\nSystem environment:\n\n"
        env
        # Calculate the short SHA1 hash of the git commit
        echo "::set-output name=short_sha::$(git rev-parse --short HEAD)"
        echo "::set-output name=go_cache::$(go env GOCACHE)"

    - name: Cache the build cache
      uses: actions/cache@v2
      with:
        path: ${{ steps.vars.outputs.go_cache }}
        key: ${{ runner.os }}-${{ matrix.go }}-go-ci-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.go }}-go-ci

    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    - name: Build xcaddy
      working-directory: ./cmd/xcaddy
      env:
        CGO_ENABLED: 0
      run: |
        go build -trimpath -ldflags="-w -s" -v

    - name: Publish Build Artifact
      uses: actions/upload-artifact@v1
      with:
        name: xcaddy_${{ runner.os }}_go${{ matrix.go }}_${{ steps.vars.outputs.short_sha }}
        path: ${{ matrix.XCADDY_BIN_PATH }}

    - name: Run tests
      run: |
        go test -v -coverprofile="cover-profile.out" -short -race ./...

  # From https://github.com/reviewdog/action-golangci-lint
  golangci-lint:
    name: runner / golangci-lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code into the Go module directory
        uses: actions/checkout@v2

      - name: Run golangci-lint
        uses: reviewdog/action-golangci-lint@v1
        # uses: docker://reviewdog/action-golangci-lint:v1 # pre-build docker image
        with:
          github_token: ${{ secrets.github_token }}

  goreleaser-check:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: check
        env:
          TAG: ${{ steps.vars.outputs.short_sha }}
